.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	margin-bottom: 0px;
}

#nav-to-projects {
	background-image: url("images/data-rain.jpg");
	width: 1250px;
	height: 750px;
	background-size: contain;
	
}

#jumbo-about {
	background-image: url("images/vector-sun.png");
	color: #e6e600;
	text-shadow: 2px 2px black;
}

#nav-to-network {
	background-image: url("images/cityscape.png");
	text-shadow: 2px 2px black;
}

#nav-to-network p {
	color: white;
}

.linked-btn {
	margin-left: 15px;
}


.jumbotron h1 {
	margin-left: 5px;
	color: white;
}

.jumbotron p {
	margin-left: 30px;
}

#reviewProj {
	height: 100px;
	length: 220px;
	margin-left: 30px;
}

#gameProj {
	height: 85px;
	length: 195px;
	margin-left: 30px;
	margin-bottom: 25px;
}

.project-buttons {
	margin-top: 100px;
}
#second-btn {
	margin-top: 15px;
}
	
.split {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px; 
	border-color: white;
	margin-bottom: 20px;
	padding-top: 0px;
}
