<!DOCTYPE html>
<html>
<head>
<title>Brent-Milan.github.io</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<link rel="stylesheet" href="styles.css" />
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       Developer Profile: Brent Milan
      </a>
    </div>
     <ul class="nav navbar-nav">
        <li class="inactive"><a href="#nav-to-projects">Projects<span class="sr-only">(current)</span></a></li>
        <li class="inactive"><a href="#nav-to-network">Contact Brent</a></li>
   	</ul>
  </div>
</nav>

<div class="jumbotron" id="jumbo-about">
	<h1>About Me</h1>
	  <p>public class BrentMilan {</p>
	 
	  <p>private JavaProgrammer java;</p>
	  <p>private Runner runner;</p>
	  <p>private Father father;</p>
	  <p>private boolean isHuman;</p>
	  
	  <p>}</p>
	  
	  <p>A Capital University graduate from Columbus, Ohio.</p> 
	  <p>Currently furthering my education at We Can Code IT, a full-stack programming boot camp. </p>
	  
	  <p><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/brent-milan-100987141" role="button">Learn More on LinkedIn</a></p>
</div>

<div class="jumbotron" id="nav-to-projects">
	<div class="split">
  		<h1>Current Projects</h1>
 		 <p><a class="btn btn-primary btn-lg" href="https://github.com/Brent-Milan" role="button">Jump to My Github</a></p>
  	</div>
  
  <div class="project-buttons">
  <p><a class="btn btn-primary btn-lg" href="https://github.com/Brent-Milan/reviews-site-2.0" role="button">Review Site 2.0</a></p>
  <!-- <a href="https://github.com/Brent-Milan/reviews-site-2.0">
  	<img id="reviewProj" alt="reviews-site-2.0" src="images/reviews.png" /></a> -->
  	
  <p id="second-btn"><a class="btn btn-primary btn-lg" href="https://github.com/Brent-Milan/game-reviews-2.0" role="button">Gaming Reviews 2.0</a></p>
  <!-- <a href="https://github.com/Brent-Milan/game-reviews-2.0">
  	<img id="gameProj" alt="game-reviews-2.0" src="images/game.png" /></a> -->
  	
  <p><a class="btn btn-primary btn-lg" href="https://github.com/Brent-Milan/Brent-Milan.github.io" role="button">Brent-Milan.github.io</a></p>
	<p id="capstone"><a class="btn btn-primary btn-lg" href="#" role="button">[Coming Soon] Capstone Project</a></p>
	</div>
</div>

<div class="jumbotron" id="nav-to-network">
  <h1>Networking<span class = "linked-btn"><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/brent-milan-100987141/" role="button">Reach Me on LinkedIn</a>
  </span></h1>
  <p>e: Bmilan24@gmail.com</p>
  <p>c: 614.615.5587</p>
  
</div>




</body>
</html>